body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

div {
  margin-bottom: 5rem;
}

p {
  font-size: 1rem;
}

#app {
  margin-bottom: 0rem;
}

#content {
  margin-bottom: 2rem;
}

footer {
  height: 2rem;
  filter: opacity(.5)
}