body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

div {
  margin-bottom: 5rem;
}

p {
  font-size: 1rem;
}

#app {
  margin-bottom: 0rem;
}

#content {
  margin-bottom: 2rem;
}

#group {
  text-align: center !important;

  .ant-col {
    margin-bottom: 0;
  }
}

footer {
  height: 6rem;
  filter: opacity(.5);
  padding-top: 2rem;

  &:hover {
    filter: opacity(1);
    animation: opacityFade .25s ease-out;
  }
}

hr {
  width: 50%;
  filter: opacity(.2);
}

#video {
  margin: 0 auto;

  iframe {
    width: 120%;
    transform: translateX(-7.5%);
    display: block;
  }
}

@keyframes opacityFade {
  from {
      filter: opacity(.4);
  }
  to {
      filter: opacity(1);
  }
}